<!DOCTYPE HTML>
<html lang="en" id="page">
    <head>
        <title>CDaaS - countdown to {{this.event}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/default.css" type="text/css">
    </head>
    <body>
		<section>
			<section class="counter">
				<h1 class="amount">{{this.amountreadable}}</h1>
			</section>
			<section class="desc">to go until <h5 class="event">{{this.event}}</h5></section>
		</section>
    </body>
</html>
