<!DOCTYPE HTML>
<html lang="en" id="page">
    <head>
        <title>CDaaS - countdown to {{this.event}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/default.css" type="text/css">
    </head>
    <body>
		<section class="main">
			<section class="counter">
				<h1 class="amount">{{this.amountreadable}}</h1>
			</section>
            <section class="desc">
                to go until <h5 class="event">{{this.event}}</h5>
                {{#if this.date}}
                    on {{this.datereadable}}
                {{/if}}                
            </section>
            <section class="warning"></section>
		</section>
    </body>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/Timer.js"></script>    
    <script type="text/javascript" src="/js/CDaaS.js"></script>    
    <script type="text/javascript" src="/js/default.js"></script>    
</html>
