<!DOCTYPE HTML>
<html lang="en" id="page">
    <head>
        <title>CDaaS - countdown to {{this.event}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/default.css" type="text/css">
    </head>
    <body>
        <section class="timer">
            <section class="container">
                <h1 class="amount">{{this.amountreadable}}</h1>
                {{#if this.event}}
                    <h5 class="desc">to go until {{this.event}}</h5>
                {{/if}}                             
                {{#if this.date}}
                    <h5 class="desc">on {{this.datereadable}}</h5>
                {{/if}}                                
            </section>
        </section>
    </body>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/Timer.js"></script>    
    <script type="text/javascript" src="/js/CDaaS.js"></script>    
    <script type="text/javascript">
        var Counter = {{this.counter}};
    </script>        
    <script type="text/javascript" src="/js/default.js"></script>    
</html>
