
body {
	font-size: 100%;
	word-wrap: break-word;
	width: 95%;
	margin-left: 15px;
	margin-right: 15px;
	font-family:  'proxima-nova',sans-serif /* font-family: Merriweather, Garamond, Georgia, serif font-family: 'freight-sans-pro',sans-serif font-family: 'lucida grande',tahoma,verdana,arial,sans-serif font-family: 'Lato', Arial, Verdana, sans-serif */	
}

.main {
	width: 50%;
	margin: auto;
}

.amount {
	font-size: 2em;
}

.desc p, .desc h5 {
	display: inline-block;
}

code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 12px;	
}

.too-big {
	display: inline-block;	
	padding: 0;
	margin: 0;
}

#home li {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* for 568px (iPhone) or less */
@media screen and (max-width: 568px) {
	.too-big {
		display: none;
	}
}
