
body {
	font-size: 100%;
	word-wrap: break-word;
	text-align: center;
	margin: 0;
	padding: 0;	
	background-color: ivory;
	font-family:  'proxima-nova',sans-serif /* font-family: Merriweather, Garamond, Georgia, serif font-family: 'freight-sans-pro',sans-serif font-family: 'lucida grande',tahoma,verdana,arial,sans-serif font-family: 'Lato', Arial, Verdana, sans-serif */	
}

nav {
 	background-color: #90CA77;
 	margin: 0;
 	padding-top: 5px;
 	padding-bottom: 5px;
}

nav ul {
	padding: 0;	
}

nav ul, header, header h1, .examples, .apis, footer {
	margin: 0;
}

header, .examples, .apis {
/*	background-color: #81C6DD;*/
	background-color: ivory;
}

footer {
	background-color: #9E3B33;
}

.desc {
	display: inline-block;
}

code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 12px;	
}

.url-prefix {
	color: grey;	
}

.too-big {
	display: inline-block;	
	padding: 0;
	margin: 0;
}

body li {
	padding-top: 3px;
	padding-bottom: 3px;
}

.api-head {
	margin-left: 20px;
	margin-right: 20px;
}

.apis a {
	text-decoration: none;
	color: black;
}

.apis, .examples, footer ul {
	width: 60%;
	margin: auto;
}

.apis ul, .examples ul, footer ul {
	list-style-type: none;
	text-align: left;	
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	color: blue;
}

nav a:hover {
	text-decoration: underline;
	color: blue;
}

nav li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    /*font-size: 15px;*/
    line-height: 25px;
    border: 4px solid #f8f8f8;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;
    color: #999;
    /*font-weight: 600;*/
    background-color: #fff;
}

/* for 768px (iPad mini) or less */
@media screen and (max-width: 768px) {
	body {
		font-size: 90%;
	}
	.apis, .examples {
		width: 70%;
	}	
}

/* for 568px (iPhone) or less */
@media screen and (max-width: 568px) {
	body {
		font-size: 70%;
	}	
	.too-big {
		display: none;
	}
	.apis, .examples {
		width: 100%;
	}	
}

/* for 200px (v small) or less */
@media screen and (max-width: 200px) {
	.too-big {
		display: none;
	}
}
